html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  font-family: monospace;
  /* background-color: FloralWhite; */
  overflow: hidden;
}
canvas {
  cursor: default;
}
marquee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: black;
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-weight: bold;
  /* cursor: default; */
  pointer-events: none;
}
