body {
  margin: 0px;
  overflow: hidden;
}

#cursor {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-image: url(pointer.png);
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-30px, -30px);
  display: none;

}

button {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 100%;
  font-family: serif;
  font-size: 12pt;
  outline: none;
  position: fixed;
  left: calc(50vw - 50px);
  top: calc(50vh - 50px);
}
