html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#indicator {
    position: fixed;
    padding: 30px;
    width: 100px;
    border: 1px solid black;
}

#cursor {
    width: 60px;
    height: 60px;
    border: black 1px solid;
    border-radius: 100%;
    background-image: url(pointer.png);
    position: absolute;
    transform: translate(calc(50vw - 30px), calc(50vh - 30px));
    display: none;
}

button {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100%;
    font-family: serif;
    font-size: 24pt;
    outline: none;
    position: fixed;
    left: calc(50vw - 60px);
    top: calc(50vh - 60px);
}
